@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: white;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.container{
    background-color: $Very-Light-Gray;
    width: 100%;
    height: fit-content;
    padding: 3rem 0;
    .content{
        text-align: center;
        h4{
           font-size: 1.5rem;
           color: $Grayish-Blue;
        }
        h1{
            font-size: 1.5rem;
            font-weight: 600;
            color: $Very-Dark-Blue;
            
        }
        p{

        }
    }
    .card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: $Blue;
        margin: 3rem auto;
        max-width: 1200px;
        // height: 50vh;
        flex-wrap: wrap;
        gap: 1.5rem;

        .card{
            width: 30%;
            box-shadow: 0px 3px 6px  $Very-Dark-Blue;
            border-top: 3px solid;
            padding: 1.5rem;
            border-radius: 0.15rem;
            h1{
                font-weight: 600;
                font-size: 1.2rem;
                color: $Very-Dark-Blue;
                
            }
            p{
                color: $Grayish-Blue;
                font-size: 15px;
                margin-top: 0.5rem;
            }
            .img-container{
                display: flex;
                justify-content: flex-end;
                margin-top: 2rem;
                img{
                    width: 50px;
                }
            }
        }
        .card-1, .card-4{
            transform: translateY(50%);
            
        }
        .card-1{
                border-top-color: $Cyan;
        }
        .card-2{
            border-top-color: $Red;
        }
        .card-3{
            order: 4;
            border-top-color: $Orange;
        }
        .card-4{
            order: 3;
            border-top-color: $Blue;
        }
    }
}

@media (max-width: 768px) {
    .container{
        padding: 3rem 1.2rem;
        .card-container{
            .card{
                width: 100%;
                transform: initial;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container{
        padding: 3rem 1.2rem;
        .card-container{
            align-items: stretch;
            .card{
                width: 40%;
                transform: initial;
            }
        }
    }
}